html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
 box-sizing: border-box;
}

.clearfix:after {
   content:"";
   display:block;
   clear:both;
}

body {
 text-align: center;
 width: 100%; 
}

#container {
  width: 100%;
  margin: auto;
  height: 500px;
}

.image { 
   position: relative; 
   width: 100%;
}

h1{
  color: white;  
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	text-align: left;
	text-indent: 2em;
	font-weight: bolder; 
}

h2{
  color: white; 
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	text-align: center;
	font-weight: bold;  
}
a.help-button {
    background-color: #f9e42e;
    color: #000000;
    font-size: 2em;
    padding: .5em 2.0em;
    font-family: 'Open Sans', sans-serif;
    font: bold;
}

h3{
  font-family: 'Open Sans', sans-serif;
  height: 20px;
  text-align: left;
  text-indent: 2em;
  font-weight: bolder;  
}

h4{

    color: white;
    top: 700px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font: bold;
    width: 15%;
    text-align: center;
    font-style: italic;
}
.image{
  background: url("header_bg.jpg") no-repeat;
  height: 20em;
  width: 100%;
  background-size: cover;
}
}
.quote{
  background: url("testimonial_bg.jpg") no-repeat;
  height: 20em;
  width: 100%;
  background-size: cover;
}

h5{
  color: #f9e42e;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.benefits{
  color: 121212;
  height: 100px;
  float: left;
  text-indent: 2em;
}

.theend {
 background-color: #000000;
}


a.signup  {
    background-color: #033048;
    color: white;
    font-size: 2em;
    padding: .5em 1.5em;
    position: absolute;
    left: 270px;
    top: 800px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font: bold;
}

footer{
height: 20em;
color: 000003;	
}

ul {
    list-style: disc;
    margin: 1px 0 0 50px;
    text-align: left; 
    text-indent: 1em;
}    







